extends layout

block content
  a(href='/logout') Salir
  table(class="table") 
    thead 
      tr 
        th Nombre 
        th Email 
    tbody
      each usuario in usuarios
        tr 
          td= usuario.name
          td= usuario.email
   
        